
@import url("mdstyle.css");
@import url("../fonts/fonts_styles.css");
@import url("font-awesome.min.css");

*{margin: 0; padding: 0;}

body{background:#fdfdfd; color:#000 ; font-family:'Open Sans', arial, helvatica,  sans-serif; font-size:14px; line-height:22px;}

a{-webkit-transition: all .1s ease-in-out;
   -moz-transition: all .1s ease-in-out;
   -o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	text-decoration:none;
	outline:none
}

a{ color:#00a0d2;  text-decoration: none; cursor: pointer;}
a:hover, a:focus{ color:#ff943d; text-decoration:none}

img{ max-width:100%; height:auto}

.container-fluid{ max-width: 1180px}
.container-fluid-full{ max-width: 100%}



.getmore-btn, .knowmore-btn, .join-community{display: block; background: #ff943d; border-radius: 4px; padding: 12px 40px; text-decoration: none;
  text-align: center; font-size: 18px; color: #fff; width: 220px; clear: both; margin-bottom: 30px; text-transform: uppercase; font-weight: 600;}

.getmore-btn:hover, .knowmore-btn:hover, .join-community:hover
.getmore-btn:hover, .knowmore-btn:focus, .join-community:focus{display: block; background: #dd6300; color: #fff;  text-decoration: none; }
.desktop-view{ display:block}
.mobile-view{ display:none}
header{position: fixed;z-index: 9999; width: 100%; height:46px }
.fixed-padding{ position: relative; padding-top:46px; }
/*a.logo { width: 210px; display: inline-block;  margin: 10px 0;}*/
a.logo { width: 170px; display: inline-block;  margin: 5px 0;}
.cd-navbar-wrapper.navbar {margin-bottom:0px;border-bottom: 4px solid #ff943d; border-radius: 0; min-height: 40px;}
/*.cd_navcontnt { margin-top: 20px;}*/
.cd_navcontnt{ margin-top:9px}
.cd_navcontnt li a { padding: 6px 20px;text-transform: capitalize; font-size: 14px; font-weight: 500; color: #222 !important;}
/*.cd_navcontnt li a:hover { color: #ff943d !important; text-decoration: none;}
.cd_navcontnt li a.active { color: #ff943d !important; text-decoration: underline;}*/
.cd_navcontnt li a:hover {background: #ff8624 !important; color: #fff !important;}
.cd_navcontnt li a.active { color: #fff !important; text-decoration:none; background: #ff943d !important;}
.cd_navcontnt li a i.fa.fa-home{font-size: 18px;}
.cd_navcontnt li a.apache_link { width: 26px; height: auto; display: inline-block !important;margin: 0 10px; padding: 10px 0 !important; 
  background: url(../images/CDapacheGray_icon.png) no-repeat center center !important; text-indent: -9999px; background-size: contain !important;    line-height: 12px;}

.cd_navcontnt li a.apache_link:hover {background: url(../images/CDapache_icon.png) no-repeat center center !important; background-size:contain !important;}

.navbar-nav>li>.dropdown-menu { padding: 0; margin-top: 0px; color: #ff943d !important;  text-decoration: none; 
  background: #f8f8f8 !important; box-shadow: none; border: 1px solid #ff943d !important; border-top: 4px solid #ff943d !important;
left: auto; right: auto;}

.cd_navcontnt li>.dropdown-menu a {color: #444 !important; padding: 5px 15px; font-size: 13px;}
.cd_navcontnt li>.dropdown-menu a:hover, .cd_navcontnt li>.dropdown-menu a.active { color: #fff !important; text-decoration: none;
    background: #ff943d !important;}

.navbar-nav>li>.apache_link + .dropdown-menu   {left: auto; right: 0;}

.cd-homebanner{ width: 100%; min-height:280px; background: url(../images/CDbannerSliderbg.jpg) no-repeat top center; background-size: cover;}
.cd-homebanner .slide-title { font-size: 36px; color: #fffefe; line-height: 50px; display: inline-block;text-align: left;    width: 90%;
    max-width: 520px; margin-top: 90px; margin-left: 10%;}

.cd-homebanner .slide-title strong{ color: #ff943d; font-weight: 600;  }
.cd-homebanner .slide-img { text-align: center; overflow: hidden; height: 280px;}
.cd-homebanner .slide-img img {height: 106%; max-width: inherit; margin-top: -1%;   }

.cd-headingBar{ background: #f2f2f2; padding: 30px; margin:0}
.cd-headingBar .title {font-size: 30px; color: #111; line-height:36px; display: block; text-align: left; margin: 0;}
.cd-headingBar .title .cube-icon{width:30px;height: 30px; margin:0 20px 0 0; padding:0;  display:inline-block; text-align:center;}
.cd-headingBar .join-community-btn {display: block; background: #ff943d; border-radius: 4px; padding: 12px 40px;text-align: center; font-size: 18px; color: #fff; float: right; clear: both;
     text-transform: uppercase; font-weight: 600;}
.cd-headingBar .join-community-btn:hover {display: block; background: #dd6300}

.cd-joinblock {
    background: #555;
    padding: 10px 0;
    /*  border-bottom: 4px solid #444;    
    border-top: 4px solid #444;
    */
}

.cd-joinblock .title {
    font-size: 18px;
    color: #fff;
    line-height:30px;
    display: block;
    text-align: center;
    margin: 0 0 10px ;
}
.cd-joinblock .subscribe-btn {
    display: block;
    background: #ff943d;
    border-radius: 2px;
    padding: 10px 40px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    clear: both;
    text-transform: capitalize;
    font-weight: 600;
    width: 220px;
    margin: 20px auto 10px;
}
.cd-joinblock .subscribe-btn:hover {display: block; background: #dd6300}

.cd-aboutblock .title {
    font-size: 24px;
    color: #444;
    line-height: 30px;
    display: block;
    text-align: left;
    margin: 0 0 16px;
}

.cd-aboutblock .title .title-underline {
    height: 2px;
    width: 50px;
    background: #ff943d;
    margin: 6px 0 0;
    padding: 0;
    display: block;
}

.cd-aboutblock .para-txt { font-size: 14px;
    color: #444;
    line-height: 20px;
    display: block;
    text-align: left;
}

.cd-aboutblock .cd-indexing-heading {
    background: #f1f1f1;
    font-size: 18px;
    color: #666;
    line-height: 36px;
    display: block;
    text-align: left;
    margin: 15px 0 0px;
    padding: 0 0 0 16px;
    border-bottom: 1px solid #dfdfdf;
    display: none


}

.cd-aboutblock .cd-indexing-blog {
    border: 1px solid #f1f1f1;
    text-align: center;
    padding: 0px;
    display: block;
    margin:15px auto 15px;
    height: 220px;
    background: #f8f8f8;
}

.cd-aboutblock .cd-indexing-blog  img{ max-width: 100%; height: 100%}



/**/

.cd-aboutwrapper {
    background: #fdfdfd;
    display: block;
    /*border-bottom: 4px solid #444;*/
}

.cd-aboutblock {
    padding: 10px;
    display: block;
    clear: both;    
    margin: 20px 0px 0;
    /*
    border: 1px solid #ddd;
    background: #f6f6f6;*/
}




.cd-aboutblock .knowmore-btn {display: block; background: #ff943d; border-radius: 2px; padding: 10px 50px;text-align: center; font-size: 18px; color: #fff; 
 clear: both; margin:10px 0; text-transform: capitalize; font-weight: 600;}
.cd-aboutblock .knowmore-btn:hover {background: #dd6300}

.right-block {
    border-left: 1px solid #d2d2ff;
    padding: 10px 20px 20px;
}

.cd-releaseblock {
    background: #f1f1f1;
    margin: 10px 0 0;
    border-radius: 0;
    border: 1px solid #d2d2ff;
}

.cd-releaseblock .title {
    font-size: 24px;
    color: #444;
    line-height: 32px;
    display: block;
    text-align: left;
    margin: 0px 0 10px;
}
.cd-releaseblock .title .title-underline{ height: 2px; width:50px; background: #444; margin:6px 0; padding: 0; display:block;}
.cd-releaseblock .release-links { font-size: 14px; color: #444; line-height: 20px; display: block; text-align:left; text-decoration: none}
.cd-releaseblock .release-info { font-size: 14px; color: #444; line-height: 18px; display: block; text-align:left; text-decoration: none}
.cd-releaseblock .release-links:hover { text-decoration: underline; color:#00a0d2;}
.cd-releaseblock .release-date {
    font-size: 12px;
    color: #666;
    line-height: 18px;
    display: inline-block;
    text-align: left;
}

.cd-releaseblock .nextR{display: block;   padding: 2px 15px 15px;} 
.cd-releaseblock .linkblock { display: block; max-height: 180px; overflow: auto; padding-right: 10px;}


.cd-releaseblock .latestR {
    display: block;
    margin-bottom: 10px;
    /* border-bottom: 1px dashed #aaa; */
    padding: 10px 5px 10px 10px;
    /*background: #f6f6f6;*/
}

.cd-releaseblock .linkblock a {font-size: 14px; display: block;line-height: 18px;}
.block-row{ display: block;  margin-bottom: 8px; }
.cd-releaseblock .linkblock .whatsnew {font-size: 12px; display: inline-block; padding: 0;
    margin: 0 10px; text-transform: capitalize; text-decoration: underline; color: #666;}
.cd-releaseblock .linkblock .whatsnew:hover{color: #ff943d}    

.cd-releaseblock .nextR{ display:none;}

.cd-flowblock {padding: 20px 0; background: #fdfdfd; border-bottom: 1px solid #ddd;}
.cd-flowblock .title {font-size: 22px;  color: #444;  line-height: 24px;  display: block; text-align: center; margin: 10px 4px 30px; height:36px;  text-transform: capitalize; font-weight: 500;}
.cd-flowblock .title .title-underline{ height: 2px; width:50px; background: #ff943d; margin:10px auto; padding: 0; display:block;}


.cd-columnblock {display: block; margin:5px 0; padding:10px 5px; height: 150px}
.cd-columnblock:hover { box-shadow: 0 2px 4px #bbb; background: #f8f8f8;}


/*
.cd-columnblock .iconbox{ display: block; text-align: center;}
.cd-columnblock .iconbox .icon { display: inline-block;width:80px; height:80px; border: 4px solid #ff943d; border-radius: 50%;}

.cd-columnblock .iconbox .icon.uniquedata{ background: url(../images/cd-uniquedata-icon.png) no-repeat center center; background-size: 56px; }
.cd-columnblock:hover .iconbox .icon.uniquedata{ background: #ff943d url(../images/cd-uniquedata-icon-hover.png) no-repeat center center; 
  transform:scale(1.1);  background-size: 56px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }


.cd-columnblock .iconbox .icon.multilevelindexing{ background: url(../images/cd-multilevelindexing-icon.png) no-repeat center center; background-size: 56px; }
.cd-columnblock:hover .iconbox .icon.multilevelindexing{ background: #ff943d url(../images/cd-multilevelindexing-icon-hover.png) no-repeat center center; 
  transform:scale(1.1);  background-size: 56px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

.cd-columnblock .iconbox .icon.deepsparkintegration{ background: url(../images/cd-deepsparkintegration-icon.png) no-repeat center center; background-size: 56px; }
.cd-columnblock:hover .iconbox .icon.deepsparkintegration{ background: #ff943d url(../images/cd-deepsparkintegration-icon-hover.png) no-repeat center center; 
  transform:scale(1.1);  background-size: 56px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

  .cd-columnblock .iconbox .icon.advancedpushdownoptimization{ background: url(../images/cd-advancedpushdownoptimization-icon.png) no-repeat center center; background-size: 56px; }
.cd-columnblock:hover .iconbox .icon.advancedpushdownoptimization{ background: #ff943d url(../images/cd-advancedpushdownoptimization-icon-hover.png) no-repeat center center; 
  transform:scale(1.1);  background-size: 56px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

  .cd-columnblock .iconbox .icon.dictionaryencoding{ background: url(../images/cd-dictionaryencoding-icon.png) no-repeat center center; background-size: 56px; }
.cd-columnblock:hover .iconbox .icon.dictionaryencoding{ background: #ff943d url(../images/cd-dictionaryencoding-icon-hover.png) no-repeat center center; 
  transform:scale(1.1);  background-size: 56px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

  .cd-columnblock .iconbox .icon.updatedeletesupport{ background: url(../images/cd-updatedeletesupport-icon.png) no-repeat center center; background-size: 56px; }
.cd-columnblock:hover .iconbox .icon.updatedeletesupport{ background: #ff943d url(../images/cd-updatedeletesupport-icon-hover.png) no-repeat center center; 
  transform:scale(1.1);  background-size: 56px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }
 */ 

/*
cd-advancedpushdownoptimization-icon.png
cd-deepsparkintegration-icon.png
cd-dictionaryencoding-icon.png
cd-multilevelindexing-icon.png
cd-updatedeletesupport-icon.png
*/

/*
.cd-columnblock:hover .iconbox{transform:scale(1.1); 
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
}*/

.cd-columnblock .iconbox {
    display: block;
    text-align: center;
    float: left;
}


.cd-columnblock .title {
    font-size: 20px;
    color: #444;
    line-height: 22px;
    display: table-cell;
    text-align: left;
    margin: 4px 0 0 50px;
    min-height: 50px;
    text-transform: capitalize;
    font-weight: 500;
    vertical-align: middle;
    padding-left: 10px;
}

.cd-columnblock .title-info {
    font-size: 13px;
    color: #555;
    line-height: 18px;
    display: block;
    text-align: left;     
    overflow: hidden;
    margin: 0;
    padding-left: 10px;  
    margin-top: 4px;
}

.cd-columnblock .iconbox .icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #ff943d;
    border-radius: 50%;
}

.cd-columnblock .iconbox .icon.uniquedata{ background: url(../images/cd-uniquedata-icon.png) no-repeat center center; background-size: 40px; }
.cd-columnblock:hover .iconbox .icon.uniquedata{ background: #ff943d url(../images/cd-uniquedata-icon-hover.png) no-repeat center center; 
  transform:scale(1.1);  background-size: 40px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }


.cd-columnblock .iconbox .icon.multilevelindexing{ background: url(../images/cd-multilevelindexing-icon.png) no-repeat center center; background-size: 36px; }
.cd-columnblock:hover .iconbox .icon.multilevelindexing{ background: #ff943d url(../images/cd-multilevelindexing-icon-hover.png) no-repeat center center; 
  transform:scale(1.1);  background-size: 36px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

.cd-columnblock .iconbox .icon.deepsparkintegration{ background: url(../images/cd-deepsparkintegration-icon.png) no-repeat center center; background-size: 36px; }
.cd-columnblock:hover .iconbox .icon.deepsparkintegration{ background: #ff943d url(../images/cd-deepsparkintegration-icon-hover.png) no-repeat center center; 
  transform:scale(1.1);  background-size: 36px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

  .cd-columnblock .iconbox .icon.advancedpushdownoptimization{ background: url(../images/cd-advancedpushdownoptimization-icon.png) no-repeat center center; background-size: 36px; }
.cd-columnblock:hover .iconbox .icon.advancedpushdownoptimization{ background: #ff943d url(../images/cd-advancedpushdownoptimization-icon-hover.png) no-repeat center center; 
  transform:scale(1.1);  background-size: 36px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

  .cd-columnblock .iconbox .icon.dictionaryencoding{ background: url(../images/cd-dictionaryencoding-icon.png) no-repeat center center; background-size: 36px; }
.cd-columnblock:hover .iconbox .icon.dictionaryencoding{ background: #ff943d url(../images/cd-dictionaryencoding-icon-hover.png) no-repeat center center; 
  transform:scale(1.1);  background-size: 36px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }

  .cd-columnblock .iconbox .icon.updatedeletesupport{ background: url(../images/cd-updatedeletesupport-icon.png) no-repeat center center; background-size: 36px; }
.cd-columnblock:hover .iconbox .icon.updatedeletesupport{ background: #ff943d url(../images/cd-updatedeletesupport-icon-hover.png) no-repeat center center; 
  transform:scale(1.1);  background-size: 36px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }


.cd-releasedownload{ background: #555; padding:10px; margin:0}
.cd-releasedownload .title {font-size: 30px; color: #fff; line-height:40px; display: block; text-align: left; margin: 0;}
.cd-releasedownload .title .cube-icon{width:30px;height: 30px; margin:0 20px 0 0; padding:0;  display:inline-block; text-align:center;}

.cd-releasedownload .title .release-date {font-size:14px; color: #bbb; line-height: 16px; display: inline-block;}
.cd-releasedownload .release-note {
    font-size: 14px;
    color: #00a0d2;
    line-height: 16px;
    display: inline-block;
    margin-left: 60px;
    text-transform: capitalize;
}
.cd-releasedownload .release-note:hover {color:#ff943d; text-decoration: underline;}

.cd-releasedownload .download-btn {display: block; background: #ff943d; border-radius:2px; padding: 12px 40px;
  text-align: center; font-size: 18px; color: #fff; float: right; clear: both; text-transform: uppercase; font-weight: 600; margin-top: 10px}
.cd-releasedownload .download-btn:hover {display: block; background: #dd6300}


.cd-systemblock { padding:0; background: #f2f2f2; /*background:#EEE;*/ border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.cd-thecolumnblock {display: block; margin:0; padding:5px;/*min-height:302px;*/  /*background: #fff; box-shadow: 0 1px 1px #bbb;*/}
/*.cd-thecolumnblock:hover { box-shadow: 0 2px 4px #bbb; background: #fff;}*/
.cd-thecolumnblock .title {font-size: 22px;  color: #444;  line-height: 24px;  display: block; text-align: left; margin:0 0 10px; min-height:36px;  text-transform: capitalize; font-weight: 500;}
.cd-thecolumnblock .title .title-underline{ height: 2px; width:50px; background: #ff943d; margin:10px 0; padding: 0; display:block;}
.cd-thecolumnblock .title-info { font-size: 13px; color: #555; line-height: 18px;    display: block; text-align: left;
     overflow: hidden; margin: 0 0 8px; /*font-family: OpenSansLight*/}
.cd-thecolumnblock.joinblog{margin-top: 15px; background: #fff; padding:20px; margin: 15px -10px 0; box-shadow: 0 1px 1px #bbb;}
.cd-thecolumnblock.getstartlog { background: #fff; box-shadow: 0 1px 1px #bbb;padding: 15px; margin: 15px 0px 15px -10px;}
.cd-thecolumnblock.latestblog {padding: 15px; background: #fcfcfc; margin: 15px -10px 15px 0px; box-shadow: 0 1px 1px #bbb;}
.cd-thecolumnblock.getstartlog .title .title-underline, .cd-thecolumnblock.latestblog .title .title-underline {background: #444;}


.cd-thecolumnblock .listlink, .cd-thecolumnblock .orderlist{margin: 6px 0 0 20px; padding: 0;}
.cd-thecolumnblock .listlink li { list-style-type: square; font-size: 13px; line-height: 18px; color: #555; margin-bottom: 8px;word-wrap: break-word;}
.cd-thecolumnblock .orderlist li { font-size: 13px; line-height: 18px; color: #555; margin-bottom: 8px;}
.cd-thecolumnblock .social-icons{ padding: 5px 0 0; text-align: right; margin: 0}
.cd-thecolumnblock .social-icons i.fa {font-size: 24px; margin-right: 5px;color: #aaa;}
.cd-thecolumnblock .social-icons i.fa:hover {color:#666;}


.cd-apacheblock{ padding: 20px 0; background: #f4f4f4;
/*
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 50%, rgba(250,245,250,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(246,246,246,1)), color-stop(100%, rgba(250,245,250,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 50%, rgba(250,245,250,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 50%, rgba(250,245,250,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 50%, rgba(250,245,250,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 50%, rgba(250,245,250,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#faf5fa', GradientType=0 );*/

}
.cd-apachepic {display: table-cell; margin: 5px 0; height: 180px;padding: 15px; background: #fff; box-shadow: 0 1px 1px #bbb; vertical-align: middle;}
.cd-apachepic img{ max-width: 100%}
.cd-apachetxtblock .title {font-size: 22px;  color: #444;  line-height: 24px;  display: block; text-align: left; margin: 10px 4px 10px; height: 40px;  text-transform: capitalize; font-weight: 500;}
.cd-apachetxtblock .title .title-underline{ height: 2px; width:50px; background: #ff943d; margin:10px 0; padding: 0; display:block;}
.cd-apachetxtblock .title-info {font-size: 13px; color: #444; line-height: 18px; display: block; text-align: left; overflow: hidden; margin: 0 0 10px;}
.cd-apachetxtblock .title-info .linktxt { color: #00a0d2}


.cd-featureblock{ background: url(../images/CDbannerSliderbg.jpg) no-repeat center center; position: relative; min-height: 300px;    background-size: cover;}
.cd-featureblock .bg-opacity{ background: rgba(0,30,56,.6); position: absolute; top: 0; left: 0; width: 100%; height: 100% }  
.cd-featureblock .title {
    font-size: 20px;
    color: #fff;
    line-height: 24px;
    display: block;
    text-align: left;
    margin: 15px 15px;
    text-transform: capitalize;
    font-weight: 600;
}
.cd-featureblock .ecosystemblock{margin: 15px; border: 1px solid rgba(255,255,255,.3); padding: 5px} 
.cd-featureblock .performenceblock{margin: 15px; border: 1px solid rgba(255,255,255,.3); padding: 5px} 

.icon-margin-r{margin-right: 10px}

.cd-quickbtns {
    background: #f1f1f1;
    margin: 10px 0 0;
    padding:5px 10px;
    border: 1px solid #d2d2ff;
}

.cd-quickbtns .title {font-size: 22px;  color: #444;  line-height: 24px;  display: block; text-align: left; margin: 10px 4px 10px; height: 40px;  text-transform: capitalize; font-weight: 500;}
.cd-quickbtns .title .title-underline{ height: 2px; width:50px; background: #444; margin:10px 0; padding: 0; display:block;}


.quickstart-btn {
    background: #ff943d;
    border: 1px solid #ff943d;
    display: inline-block;
    margin:5px 0 ;
    text-align: center;
    padding: 10px 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    width: 100%;
    cursor: pointer;
    position: relative;
    border-radius: 40px;
}
.quickstart-btn:hover, .quickstart-btn:focus {
    background: #dd6300;
    border: 1px solid #dd6300;
    color:#fff;
}


.quickstart-btn i.rocket-icon {
    background: url(../images/cd-rocket-icon.png) no-repeat center center;
    width: 30px;
    height: 28px;
    background-size: cover;
    margin-top: -13px !important;
}

/*.quickstart-btn i.fa {font-size: 36px; position: absolute; left: 8px; top: 50%; margin-top: -19px;}*/
.quickstart-btn i.fa {font-size: 30px;position: absolute; left: 16px; top: 50%; margin-top: -16px;}


footer{ background: #111; padding:0; }
footer .topcontant{ display: block; padding: 20px 0; }
footer .bottomcontant{ display: block; padding: 10px 0; border-top: 1px solid #3d3d3d}
footer .topcontant .footext{ font-size: 13px; color: #f2f2f2; line-height: 20px; display: block; text-align: left;padding: 0;  margin: 0 0 20px;}
footer ul.footer-nav{ float: right;}
footer ul.footer-nav li {text-align: left; display: inline-block; list-style-type: none; margin: 0; border-left: 1px solid #f2f2f2; line-height: 12px;}
footer ul.footer-nav li:first-child {border-left:none}
footer ul.footer-nav li a {text-align: center; margin: 0; padding: 0 13px; text-decoration: none; color: #d4d4d4;font-size: 13px; line-height: 13px;}
footer ul.footer-nav li a:hover{ text-decoration: underline}

footer .copyright-txt{ margin:0; padding:0; color: #aaa; font-size: 12px; display: inline-block;}
footer .term-links{  display: inline-block;  margin:0; padding: 0 10px; text-decoration: none; color: #aaa;}
footer .term-links:hover{ text-decoration: underline}
footer .social-icon{ float: right; display: none}
footer .social-icon .icons{ display: inline-block;  margin:0; padding: 0 10px; text-decoration: none; color: #aaa; opacity: .5}
footer .social-icon .icons:hover{ opacity: 1;  text-decoration: none;}

footer .topcontant{  display: none }


/* ------------------- Documentation Style here*/
.cd-dashboarblock{padding: 20px 0; background: #f4f4f4; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.cd-dashboarblock .dashboardlinkbox{ max-width:800px; margin:0 auto}
.cd-dashboarblock .dashboardlinkbox .heading{text-align:center; margin:0 0 20px}
.cd-dashboarblock .dashboardlinkbox .docs-searchbox{width:100%;    margin: 0 0 20px;}
.cd-dashboarblock .dashboardlinkbox .docs-searchbox .docs-search {
    width: 100%;
    border: 1px solid #ddd;
    background: #fff;
    padding: 8px 20px;
    box-shadow:0  1px 2px  #ccc;
}

.cd-dashboarblock .dashboardlinkbox .docs-searchbox .docs-search:focus {border:1px solid #ff943d;     outline: 0;
}

.cd-docsblock {
    display: block;
    margin: 5px 0 20px;
    min-height: 224px;
    padding: 15px;
    background: #fff;
    box-shadow: 0px 1px 1px #bbb;
}
.cd-docsblock:hover { box-shadow: 0px 2px 4px #888; background: #fff;}

.cd-docsblock .title {      font-size: 16px;
    color: #444;
    line-height: 22px;
    display: block;
    text-align: center;
    margin: 5px 5px 10px;
    height: 50px;
    text-transform: capitalize;
    font-weight: 600;
}

.cd-docsblock .title .title-underline{ height: 2px; width:50px; background: #ff943d; margin:10px 0; padding: 0; display:block;}
.cd-docsblock .title-info {     font-size: 14px;
    color: #000;
    line-height: 20px;
    display: block;
    text-align: center;
    overflow: hidden;
    margin: 0;
    border-top: 2px solid #ff943d;
    padding: 20px 0;}


.sidebar {
    position: fixed;
    top: 46px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding:0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f6f6f6;
    border-right: 1px solid #ddd;
    padding: 5px;
}

.maindashboard {
    padding:0  15px 0;
    background: #fff;

}
 

.sidebar .nav>li>a {
    position: relative;
    display: block;
    padding: 6px 10px;
    color: #222;
    background: #eee;
}

.sidebar .nav>li>a.active, .sidebar .nav>li>a:hover { background: #DDD;}

iframe {
    display: block;
    background: transparent;
    border: none;
    height: calc(100vh - 60px);
    width: 100%;
}


/*
.list-group.panel > .list-group-item {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: #444;
}*/

.list-group.panel > .list-group-item {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 500;
    color: #333;
    font-size: 12px;
}

.leftMainMenu .list-group-submenu{margin-left:20px;}


.leftMainMenu{}
.leftMainMenu .panel {
    margin-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

.leftMainMenu .list-group-item {padding:6px 10px; margin-bottom: -1px; font-size: 12px; background: #ddd; line-height: 16px;
    border: 1px solid #d8d8d8;}

.leftMainMenu .list-group-item:first-child, .leftMainMenu  .list-group-item:last-child { 
  border-radius:0;}

.leftMainMenu .fa.fa-caret-down{ float: right;}
.leftMainMenu .list-group-item-success {color: #3c763d; background-color: #e7e6e6;}
/*
.leftMainMenu .collapse.in .list-group-item { padding-left: 18px; background:#f6f6f6; color: #444}*/
.leftMainMenu .collapse.in .list-group-item {padding-left: 18px; background: #f6f6f6; color: #555;}


.leftMainMenu a.list-group-item-success:focus, 
.leftMainMenu a.list-group-item-success.active, 
.leftMainMenu a.list-group-item-success:hover { background-color: #ccc; border-color: #bbb; color: #444;}


.leftMainMenu .list-group-submenu { margin-left:0px;}

.leftMainMenu .list-group-submenu .list-group-item {
    background: #fdfdfd!important;
    padding-left: 32px !important;
    font-size: 12px;
    padding: 7px 10px;
    border-top: 1px solid #eee;
}

.leftMainMenu .collapse.in .list-group-item:hover {background: #e3e3e3;}

.leftMainMenu .list-group-submenu .list-group-item:hover {background: #f1f1f1 !important;}

.leftMainMenu .accordion-heading {  position: relative; }
.leftMainMenu .accordion-heading .edit {
    position: absolute;
    top: 8px;
    right: 30px; 
}


.leftMainMenu .area { border-left: 4px solid #f38787; }
.leftMainMenu .equipamento { border-left: 4px solid #65c465; }
.leftMainMenu .ponto { border-left: 4px solid #98b3fa; }
.leftMainMenu .collapse.in { overflow: visible; }


.title-heading {
    font-size: 20px;
    color: #444;
    line-height: 26px;
    display: block;
    text-align: left;
    margin: 20px 5px 20px;
    text-transform: capitalize;
    font-weight: 600;
}

.title-heading .title-underline{ height: 2px; width:50px; background: #ff943d; margin:10px 0; padding: 0; display:block;}

.cd-blog-box{ display: block; border-bottom:  1px solid #eee}
.cd-blog-box a{ color: #444}
.cd-blog-box .title {font-size:20px;  color: #444;  line-height: 24px;  display: block; text-align: left; margin: 10px 0 4px;text-transform: capitalize; font-weight: 500;}
.cd-blog-box .date {
    font-size: 12px;
    margin: 0 0 6px;
    color: #666;
}
.cd-blog-box .title-info { font-size: 13px; color: #555; line-height: 18px;display: block; text-align: left;
     overflow: hidden; margin: 0 0 2px; /*font-family: OpenSansLight*/}
.cd-blog-box .bloglink { font-size: 13px; color:#00a0d2}


.blog-content{ }
.blog-content h2, .blog-content h3  {font-size:17px;  color: #444;  line-height: 24px;  display: block; text-align: left; margin: 10px 0px 6px;  font-weight: 600;}
.cd-thecolumnblock .title .title-underline{ height: 2px; width:50px; background: #ff943d; margin:10px 0; padding: 0; display:block;}
.blog-content p { font-size: 13px; color: #555; line-height: 18px;    display: block; text-align: left;
     overflow: hidden; margin: 0 0 20px; /*font-family: OpenSansLight*/}
.blog-content  pre{ margin:10px 0;}  

.blog-content ul, .blog-content ol{margin: 6px 0 20px 30px; padding: 0;}
.blog-content li { list-style-type: square; font-size: 13px; line-height: 18px; color: #555; margin-bottom: 8px;}
.blog-content ol li{ list-style-type:decimal; }

.doc-header{padding:5px 10px; background: #f9f9f9;text-align: right;text-align:right;line-height:20px;margin: 0;color: #aaa;border-radius: 2px;font-family: arial;font-size: 12px;}
.doc-header .logo-print{float:left; width:20px; display: none}
.doc-footer{display: block; position: relative;}
.blog-content p img {max-width: 100%; margin: 20px auto 10px; display: block; border: 1px solid #f4f3f4;}

.scroll-top{position: fixed; top: auto; right: 10px; bottom:4px; background: #ddd;  padding: 2px 6px;
    border-radius: 2px; font-size: 12px; text-decoration: none;  color: #666;}


.doc-header span{ margin-right: 30px;}


p img{ max-width: 100% }


.meetup-banber-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color:rgba(0,100,120,1)
  }

.meetup-banber-bg img {
    max-width: 100%;
    height: auto;
    opacity: .8;
}

.meetup-banber{ position: relative; padding:20px 0 }
.meetup-banber .title-heading{color:#fff; font-size:30px; font-weight: 500; text-align: center; margin:0;  line-height: 40px;}
.meetup-banber .title-heading .title-underline {margin: 10px auto; display: block;}
.meetup-banber .txt{color:#fff; font-size:16px; font-weight: 500; text-align: center; padding:0 10px; display: inline-block; }
.meetup-banber .cominguplink {
    font-size: 14px;
    width: 120px;
    background: transparent;
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    font-weight: 600;
    border: 1px solid #fff;
    margin-top: 10px;
}

.meetup-banber .cominguplink:hover {background: #dd6300; border: 1px solid #ff943d;}

.meetup-details{width:80%; margin:20px auto;}
.meetup-details .title-heading{color:#444; font-weight: 500; font-size:30px; line-height:36px; margin: 0}
.meetup-details .title-heading .title-underline {margin:10px 0; display: block;}


.meetup-info{width:100%; margin:20px auto; padding:15px; border:1px dashed #aaa;}
.meetup-info .meetup-title {
    color: #222;
    font-size: 24px;
    font-weight: 500;
    position: relative;
    margin:0 0 10px;
}

.meetup-info .meetup-title .meetup-date {
    font-size: 13px;
    color: #444;
    display: inline-block;
    top: 10px;
    position: absolute;
    padding: 0 5px;
}


.meetup-info  .meetup-location { font-size:16px; color: #444; margin-bottom: 10px;}
.meetup-info p { font-size:13px; color: #444; line-height: 18px; margin: 0 }
.meetup-info i {font-size: 60px; color: #ff943d; /*border: 1px dashed #ff943d;*/ padding: 15px; margin-bottom:6px; background-color: #fff;}
.meetup-info:hover{background-color: #fff; border-color: #ff943d;}
.meetup-info .viewlink{ font-size:14px;} 
.meetup-info .meetup-icon{ text-align: right}
.meetup-info .viewlink {font-size: 14px;  width: 84px; background: #ff943d; display: inline-block; text-align: center;
    padding: 4px 2px; color: #fff; font-weight: 600;}

.meetup-info .viewlink:hover {background: #dd6300;}
.meetup-info i:hover {color: #dd6300; /*border: 1px dashed #dd6300; */}

.feedbackbox{width:80%; margin:20px auto; padding:20px; border:1px solid #eee; background-color: #fff;
box-shadow: 0 3px 2px #aaa }

.feedbackbox .btn-default {
    color: #fff;
    background-color: #ff943d;
    border-color: #ff943d;
    border-radius: 2px;
    width: 120px;
    padding: 8px 30px;
}

.feedbackbox .btn-default:hover { background-color: #dd6300;border-color: #dd6300;}

.thanks-msg{display: block;text-align: center; font-size: 26px; line-height: 40px; text-transform: capitalize;
    margin: 30px 0; color: #444;}

.print-icon {position: fixed; top: 61px; right: 22px; font-size: 20px;color: #777; cursor: pointer;}


.feedback-btn{position: fixed; right: -30px; top: 400px; background: #ff943d; transform: rotate(-90deg);
    box-shadow: -2px -3px 4px #aaa;}
.feedback-btn .link {
    color: #fff;
    display: block;
    padding: 8px 14px;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 22px;
}

.doc-toc{position: fixed; top:90px;  left: 0; font-size: 20px;
   cursor: pointer;  padding: 2px; -webkit-border-radius:3px ;-moz-border-radius:3px ;border-radius:3px;
   box-shadow: 0px 1px 4px #888;}

.doc-toc .toc-icon {
   background: url(../images/cd-doc-toc_icon.png) no-repeat center center;
   background-size: contain;
   width: 30px;
   height: 36px;
   display: inline-block;
}
.doc-toc .toc-icon:hover{ background:url(../images/cd-doc-toc_icon-hover.png) no-repeat center center;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;
   transition: all .2s ease-in-out;
   background-size: contain;
   width: 30px;
   height: 36px;
}

#search-box{ position: relative; display: none;}
.search-block{
    border: 5px solid #ff943d;
    padding: 6px;
    width: 24em;
    position: absolute;
    background: #f8f8f8;
    right: 0;

}

.search-block input[type="text"] {
    width: 244px;
    border: 1px solid #ff9443;
        padding: 0 5px;
}
.search-block input[type="submit"] {
    width: 70px;
    color: white;
    background: #ff943d;
    border: 1px solid #ff943d;
    font-size: 14px;

}

.search-block input:focus{  border: 1px solid #dd6300;}

    .security-block {background: #fff; margin: 15px 0; padding:5px 15px;}
    .security-block p{ margin:0 5px 20px;
    font-size: 14px;
        color: #444;
        line-height: 20px;
        display: block;
        text-align: justify}

/* ------------------- End Documentation Style here*/

.sliderBtn {
    border: 1px solid #fff;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 2px;
    color: #fff;
}

.sliderBtn:hover {border: 1px solid #ff943d; color: #ff943d;}


/* Media Style */

/*@media only screen and (min-width: 401px) and (max-width: 600px){*/

@media only screen and (max-width: 990px){
  a.logo { margin: 7px 0 0;}
.container-fluid{ max-width: 100%}
/*.cd-aboutwrapper .container-fluid {padding-right: 15px;   padding-left: 15px;}*/
.container {width: 100%;}
.cd-homebanner {min-height: auto;}
.cd-homebanner .slide-title {font-size: 30px; line-height: 36px; width: 100%; max-width: inherit; margin-top: 20%;  margin-left: 10%;}
.cd-homebanner .slide-img {text-align: center;overflow: hidden; height: auto; width: 100%;}
.cd-homebanner .slide-img img {height: auto !important; max-width: 100% !important; margin-top: 0 !important;}

.cd-thecolumnblock { /*min-height: 400px;*/}
.cd-releaseblock .linkblock { max-height: inherit;}
.cd-releaseblock .linkblock a {font-size: 14px;}
.cd-aboutblock .para-txt { min-height: inherit; margin-bottom: 20px;}

.cd-aboutblock .knowmore-btn {
    display:inline-block;
    padding: 12px 40px;
    font-size: 18px;
    margin-bottom: 10px;
    margin: 0 auto 10px;
    width: 250px;
}

.cd-columnblock {height: 140px;}
.cd-columnblock .iconbox { margin-bottom: 20px;}
.cd-columnblock .title-info {font-size: 13px; line-height: 17px;  margin-top: 4px;
}

.cd-releasedownload .title { line-height: 30px; text-align: center;}


.cd-releasedownload .title .release-date {font-size: 15px; position: relative; top: -8px;}
.cd-releasedownload .release-note {  line-height: 14px; display: block; margin-left: 0; text-align: center;}

.cd-releasedownload .title .cube-icon {width: 26px; height: 26px; margin: 0 10px 0 0;}

.cd-releasedownload .download-btn {padding: 10px 30px; margin-top: 0; width: 100%;}

.cd-aboutblock .cd-indexing-blog { height: auto;}
.cd-aboutblock .cd-indexing-blog img {height: auto;}
.right-block { padding: 15px;}

.quickstart-btn {
    padding: 10px 40px;
    font-size: 18px;
    display: block;
    margin:0 0 10px;
    width:100%;
}

.cd-thecolumnblock.joinblog { margin:20px 0px 0;}
.cd-thecolumnblock.latestblog {margin:15px 0 15px 0px;}
.cd-thecolumnblock.getstartlog {margin: 15px 0px 15px 0;}

}

/* Media Close*/


.mobile{ display: none;}
.desktop{ display: block;}


/* Media Close*/


.mobile{ display: none;}
.desktop{ display: block;}

@media (max-width:767px){

.mobile{ display: block;}
/*.desktop{ display: none;}*/
.mobile-nav{padding: 5px 10px; background: #f4f4f4; margin-bottom: 4px; display: none; }

 a.logo { width: 170px; display: inline-block; margin: 10px 10px;}

 .cd_navcontnt li a.apache_link.hidden-xs{ display: none !important}

 .cd_navcontnt li a {text-align: center; padding: 6px 20px;}

 .container > .navbar-collapse .navbar-nav { margin: 0 -15px;}

.container-fluid{ max-width: 100%}

.container {width: 100%;}

.cd-homebanner {min-height: auto;}

.cd-homebanner .slide-title {font-size: 28px; width: 90%; max-width: inherit;  text-align: center; margin:40px auto;}
.cd-homebanner .slide-img {text-align: center; overflow: hidden; height: auto; width: 100%; margin-bottom: 50px;}
.cd-homebanner .slide-img img {height: auto !important; max-width: 100% !important; margin-top: 0 !important;}

.cd-thecolumnblock { margin: 10px 0; min-height: initial;}

.cd-columnblock {height: auto;}
.cd-columnblock {margin: 5px 0 20px;}
.cd-columnblock .title-info { min-height: inherit; height: auto;}

.cd-aboutblock .cd-indexing-blog {margin: 0 0 20px;border: 1px solid #e4e4e4; height: auto;}
.cd-aboutblock .cd-indexing-blog img {max-width: 100%; height: auto;}
.cd-aboutblock .title {font-size: 22px; margin: 0 0 16px; text-align: center;}
.cd-aboutblock .title .title-underline { width: 100px; margin: 5px auto 0; }
.cd-aboutblock .para-txt {min-height: inherit; margin-bottom: 22px; text-align: center; padding: 0 15px;}

.cd-aboutblock .knowmore-btn {display: block;  padding: 12px 40px;
    font-size: 18px; margin-bottom: 10px;
    margin: 0 auto 10px;
    width: 230px;
}

.cd-releasedownload .title {line-height: 28px; text-align: center;font-size: 22px; margin-bottom: 14px;}
.cd-releasedownload .title .release-date {font-size: 14px; position: relative; display: block; margin-top: 10px;}

.cd-releasedownload .download-btn {padding: 10px 30px; width: 220px; float: none; margin: 30px auto 0;}

.cd-featureblock .title {margin: 30px 15px 15px;}

.cd-apachepic {display: block; margin: 5px 0 20px; height: auto; padding: 30px;  text-align: center;}

.sidebar {position: relative; top: 5px; left: 0; overflow: visible; padding: 0}
.leftMainMenu .panel { margin-bottom: 0;}
.leftMainMenu .list-group-item {padding:6px 20px; font-size:12px; background: #f4f4f4; line-height: 20px;}

.right-block {
    padding: 15px 0;
    border-top: 1px solid #d2d2ff;
    border-left: 0;
}

.cd-aboutblock { margin:15px 0}
.cd-thecolumnblock.joinblog { margin: 15px 0;}
.cd-thecolumnblock.getstartlog { margin: 0px 0 15px;}

.quickstart-btn {
    padding: 10px 40px;
    font-size: 18px;
    display: block;
    margin: 0 auto 10px;
    width:300px;
}

.cd-aboutblock{ margin: 20px 0  10px;}
.cd-releaseblock { margin: 0 0 10px; text-align: center;}
.cd-releaseblock .title, .cd-quickbtns .title {text-align: center;}
.cd-releaseblock .title .title-underline, .cd-quickbtns .title .title-underline{margin: 6px auto;}

.meetup-info {width: 100%;}

.meetup-info .meetup-icon { text-align: left; margin-top: 20px;}
.meetup-banber .title-heading {font-size: 24px;line-height: 30px;}
.meetup-banber-bg img {max-width: inherit;width: 100%;height: 100%; opacity: .8;}


}/* Media Close*/

@media (max-width:480px){

.quickstart-btn {
    padding: 10px 20px 10px 40px;
    font-size: 16px;
    display: block;
    margin: 0 auto 10px;
    width: 94%;
}


}