


#viewpage body{font-family:'Open Sans', arial, helvatica,  sans-serif; color: #888}

#leftmenu ol li, #leftmenu ul li { list-style-type: none;}

#leftmenu ol, #leftmenu ul {margin-top: 0; margin-bottom: 10px; margin-left:0; }
/*#leftmenu ol li a, #leftmenu ul li a{margin-bottom:0px; color: #444; display:block; font-weight: 600;font-size: 12px; line-height:24px}*/
#leftmenu ol li a, #leftmenu ul li a { margin-bottom: 0px; color: #666; display: block; border-bottom: 1px solid #e7e7e7; 
    font-weight: 600; font-size: 12px; line-height: 28px; background: #f1f1f1;padding-left: 10px;}

#leftmenu ol li a:hover, #leftmenu ul li a:hover{color: #00a0d2;}
/*#leftmenu ol ol, #leftmenu ol ul, #leftmenu ul ol, #leftmenu ul ul { margin-bottom: 0; margin-left:15px;}*/
#leftmenu ol ol, #leftmenu ol ul, #leftmenu ul ol, #leftmenu ul ul {margin-bottom: 0; margin-left: 0;}

/*#leftmenu ol ol a, 
#leftmenu ol ul a, 
#leftmenu ul ol a, 
#leftmenu ul ul a{ margin-top:8px; margin-bottom:8px;  font-weight: 500; font-size: 12px; line-height: 16px}
*/
#leftmenu ol ol a, 
#leftmenu ol ul a, 
#leftmenu ul ol a, 
#leftmenu ul ul a { padding-top: 6px; padding-bottom: 6px; font-weight: 500; font-size: 12px; line-height: 16px; 
    background: #f9f9f9; padding-left: 20px;border-bottom: 1px solid #eee; color: #0096cc;}

/*#leftmenu ul ul ul{margin-left: 30px;}*/
#leftmenu ul ul ul {margin-left: 0;}
/*#leftmenu ul ul ul a{color: #666; line-height: 16px; margin: 0 0 6px -6px;}*/
#leftmenu ul ul ul a { color: #666;  line-height: 16px; margin: 0; padding:6px 0 6px 30px; background: #fff;
border-bottom: 1px dashed #e1e1e1;}
#leftmenu ul ul ul li{list-style-type: none;}

#leftmenu h1, #viewpage h1 { font-size: 22px; padding-top: 14px; border-bottom: 1px solid #ddd;
    color: #444; font-weight: bold;line-height: 30px; margin: 0 0 5px; padding: 5px 0 5px 10px;}
#leftmenu h1{ font-size: 18px}






#viewpage h2, #viewpage h3, #viewpage h4 {
    font-size: 16px;
     margin-bottom: 10px;
    padding-top: 10px;font-weight: bold;
    text-decoration: underline;
    color: #444;
}

#viewpage h2{ font-size: 18px}

#viewpage p {
    margin-bottom: 10px;
    font-size: 13px;
    padding: 0;
    line-height: 18px;
    color: #666;
    text-align:justify;
}

#viewpage p img{ max-width: 100%;}
#viewpage p strong {font-weight: 600;}
#viewpage ul, #viewpage ol { padding: 0; margin: 0 0 10px;}

#viewpage a {color: #00a0d2; text-decoration: none; font-size: 13px; cursor: pointer;}
#viewpage a:hover, #viewpage a:focus {color: #ff943d;text-decoration: none;}
#viewpage li {margin-left: 20px; line-height: 24px; color: #666}
#viewpage hr{ display:none;}
#viewpage table {color: #444;}
#viewpage td{word-break: break-all;}
#viewpage th { white-space: nowrap;}


#viewpage h2 { position: relative; }
#viewpage h2:before{ display: block; content: " "; margin-top: -2px; height:40px; visibility: hidden; }

#viewpage code {
    color: #dd6300;
    background-color: #f8f8f8;
    border-radius: 4px;
}