@media print {
   body { color: #000;  background: #fff; }
   header{ display: none;}
   .sidebar{ display: none;}
   .fixed-padding{ display: none}
   .doc-header .logo-print{ display:inline-block;}
   .scroll-top, .print-icon{ display: none}
   .printable{display: block;}
   .doc-toc{ display: none}
}